.category {
    ul {
          display: flex;
          margin: 20px;
  
      li {
        background-color: #f9f9f9;
        padding: 12px 20px;
        border-radius: 30px;
        margin-right: 5px;
        font-weight: bold;
        cursor: pointer;
        transition: background-color 0.1s ease-in-out;
  
        &:hover {
          background-color: darken(#f9f9f9, 2%);
        }
  
        &:active {
          background-color: darken(#3d3d3d, 5%);
        }
  
        &.active {
          background-color: #282828;
          color: #fff;
        }
      }
    }
  }


  